<%- contentFor('body') %>
<div class="panel panel-success">
  <div class="panel-heading"><h3>Listar Produtos</h3>

  </div>
  <div>  </div>
  <div class="panel-body">
    <div class="well well-sm">
      <form class="form-inline" method="post" action="/buscar.html">
        <div class="form-group">
          <label for="termobusca" class="sr-only">Termo Busca</label>
          <input type="text" name="termo" class="form-control"  placeholder="Termo Busca" />
        </div>
        <div class="form-group">
          <select name="opcao" class="form-control">
              <option>Nome</option>
              <option>Preco Base</option>
              <option>Preco</option>
              <option>Soma Interesses</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
        <a method="get" href="/novoProduto.html" class="btn btn-default">Novo Produto</a>
      </form>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
           <th scope="col">Nome:</th>
           <th scope="col">Preço Base:</th>
           <th scope="col">Preço</th>
           <th scope="col">Interesses</th>
           <%if(clienteLogado){%>
             <td>Interesse</td>
           <%}%>
           <th></th>
           <th></th>
        </tr>
      </thead>
      <tbody>
        <%
        for (var i in produtos){
          var produto = produtos[i];
        %>
        <tr>
          <td><%=produto.nome%></td>
          <td><%=produto.preco_base%></td>
          <td><%=produto.preco%></td>
          <td><%=produto.soma_interesses%></td>
          <%if(clienteLogado){%>
              <td><a method="GET" href="/adicionarInteresse.html?id=<%=produto._id%>">+ Interesse</a></td>
          <%}%>
          <td><a method="GET" href="/editar.html?id=<%=produto._id%>">Editar</a></td>
          <td><a method="GET" href="/excluir.html?id=<%=produto._id%>">Excluir</a></td>
         </tr>
         <% } %>
       </tbody>
      </table>
  </div>
</div>
